* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: hsl(204, 33%, 97%);
  font-family: lato;
}
.card {
  border: 1p solid black;
  max-width: 1440px;
  margin: 0 auto;
}
.whole-box {
  display: flex;
  justify-content: space-between;
}
.first-box {
  flex: 65%;
}

header {
  height: 100px;
  border-bottom: 1px solid #e0e6ea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .logo-div {
  border: 1px solid red;
} */
.logo {
  width: 200px;
}
/* .nav-link {
  border: 1px solid green;
} */

ul {
  display: flex;
  list-style-type: none;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
.active {
  border: 2px solid #646e7a;
  border-radius: 10px;
  padding: 0 15px;
}

/* price card */
.price-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.pcard {
  background-color: white;
  /* border: 1px solid red; */
  width: 700px;
  /* height: 500px; */
  border-radius: 10px;
}
/* .whole-box {
  margin: 20px;
} */
.box {
  /* border: 1px solid green; */
}
.form-label {
  /* border: 1px solid red; */
}

.circle {
  border: 1px solid #548bc5;
  border-radius: 50%;
  padding: 5px 10px;
}
.scircle {
  border: 1px solid #548bc5;
  border-radius: 50%;
  padding: 1px 2px;
}
.box-name {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}
.firstname {
  /* border: 1px solid blue; */
}
.email-box {
  /* border: 1px solid blue; */
}
.input-box {
  width: 100%;
}
input {
  width: 100%;
  padding: 10px 10px;
  outline: none;
  border: none;
  background-color: #edeff2;
  border-radius: 5px;
}
.box-name2 {
  /* border: 1px solid green; */
}
.cardnumber-box {
  /* border: 1px solid red; */
}

.first-box {
  margin: 20px;
  /* border: 1px solid green; */
}
.box {
  padding: 15px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #f6f8fb;
  font-size: 20px;
  font-weight: 600;
}
.label {
  margin: 10px 0;
}
.form-box1 {
  padding: 25px 0;
  /* border-bottom: 1px solid #f6f8fb; */
}
.form-box2 {
  padding: 25px 0;
  /* border-bottom: 1px solid #f6f8fb; */
}

button {
  width: 100%;
  padding: 10px 10px;
  background-color: #038e7d;
  border: none;
  border-radius: 3px;
  color: #ffffff;
}
.downtext {
  display: flex;
  align-items: center;
  justify-content: center;
}
.little-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sidebar */
.second-box {
  /* border: 1px solid black; */
  flex: 35%;
  background-color: #1179bf;
  color: #ffffff;
  padding: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* .sidebar-box {
  margin: 20px;
} */
.digit {
  font-size: 40px;
  font-weight: 300;
}

/* 
ul {
  list-style-image: url;
} */

.point {
  display: flex;

  align-items: center;
  gap: 10px;
}
.bullet-points {
  /* border: 1px solid red; */
  margin: 20px 0;
}

.bullet-img {
  width: 24px;
  height: 24px;
}

.text-price {
  /* border: 1px solid green; */
}

.person-image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.img-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.plan-digit {
  /* border: 1px solid red; */
  margin: 15px 0;
}
.plan-box {
  /* border: 1px solid green; */
}

.text-price {
  margin: 10px 0;
}

.testimony-text {
  margin: 10px 0;
  font-weight: 300;
  font-style: italic;
}
.testimony {
  margin-top: 30px;
}
.single-link {
  color: #ffffff;
  font-size: 14px;
}
.simple-text {
  margin-bottom: 5px;
  font-size: 14px;
}

.downtext {
  margin: 10px 0;
  font-size: 12px;
}
.lbox {
  /* border: 1px solid red; */
  background-color: #b5bbc2;
  color: #ffffff;
  font-size: 12px;
}
.basic-text {
  font-weight: 600;
}
.tet {
  font-size: 14px;
}
.texty {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  padding-right: 50px;
}
/* .text-price {
  font: 14px;
} */

.TNC {
  display: flex;
  justify-content: center;
}
.last-text {
  font-size: 10px;
}
.TOS {
  color: #93b4c4;
  padding-left: 3px;
}
